.cocktailName {
    background-color:blueviolet;
    color:hotpink;
}

.displayDrink {
    padding:10px;
    margin:10px;
    border:10px;
<<<<<<< HEAD
}

.displayDrinkImage {
    border: 2px solid black;
}

.displayApproval {
    border: 2px solid blue;
    padding:10px; 
    margin-top: 20px;
}

.history {
    border: 2px solid blue;
    background-color:rgb(30, 210, 135);
    color:rgb(66, 6, 24);
    padding:10px; 
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }
=======
}
>>>>>>> 4a7bca38639e806d4a4dad19217a5304fd91aca1
