main {
  margin: 5% 0;
}

.cocktailName {
    background-color:blueviolet;
    color:hotpink;
}

.displayDrink {
    padding:10px;
    margin:10px;
    border:10px;
}

.displayDrinkImage {
    border: 2px solid black;
}

.displayApproval {
    border: 2px solid blue;
    padding:10px; 
    margin-top: 20px;
}

.history {
    border: 2px solid blue;
    background-color:rgb(30, 210, 135);
    color:rgb(66, 6, 24);
    padding:10px; 
    margin-top: 20px;
}

.final-buttons {
  display: flex;
  gap: 1rem;
}

.drinks-animation {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 3rem;
  left: 1rem;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
    
  .final-buttons {
    flex-direction: column;
  }
  }



